body {
    background-image: url(rpswall.avif);

}
.dispbody {
    background-color: white !important;
    padding: 100px;
    
}
.bungee-regular {
    font-family: "Bungee", sans-serif;
    font-weight: 500;
    font-style: bold;
  }
  